<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.myweb.domain.CouponVO" alias="cpvo"/>
		<typeAlias type="com.myweb.domain.CouponPageVO" alias="cpgvo"/>
		<typeAlias type="com.myweb.domain.CouponListVO" alias="cplvo"/>
		<typeAlias type="com.myweb.domain.MemberVO" alias="mvo"/>
		<typeAlias type="com.myweb.domain.PageVO" alias="pgvo"/>
	</typeAliases>
</configuration>