<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="CouponMapper">
  <sql id="search">
  	<if test="range != null">
  		<trim prefix="and (" suffix=")">
  			<choose>
  				<when test="range == 'nd'.toString()">
  					to_char(cpno) like '%'||#{keyword}||'%' or
  					cpname like '%'||#{keyword}||'%' or
  					to_char(discount) like '%'||#{keyword}||'%'
  				</when>
  				<when test="range == 'no'.toString()">
  					to_char(cpno) like '%'||#{keyword}||'%'
  				</when>
  				<when test="range == 'na'.toString()">
  					cpname like '%'||#{keyword}||'%'
  				</when>
  				<when test="range == 'd'.toString()">
  					to_char(discount) like '%'||#{keyword}||'%'
  				</when>
  			</choose>
  		</trim>
  	</if>
  </sql>
  <sql id="issueSearch">
  <if test="range != null">
  		<trim prefix="and (" suffix=")">
  			<choose>
  				<when test="range == 'all'.toString()">
  					to_char(cplno) like '%'||#{keyword}||'%' or
  					to_char(cp.cpno) like '%'||#{keyword}||'%' or
  					cp.cpname like '%'||#{keyword}||'%' or
  					to_char(m.mno) like '%'||#{keyword}||'%' or
  					m.email like '%'||#{keyword}||'%' or
  					to_char(enddate,'YYYY-MM-DD') like '%'||#{keyword}||'%'
  				</when>
  				<when test="range == 'io'.toString()">
  					to_char(cplno) like '%'||#{keyword}||'%'
  				</when>
  				<when test="range == 'c'.toString()">
  					to_char(cp.cpno) like '%'||#{keyword}||'%'
  				</when>
  				<when test="range == 'cn'.toString()">
  					cp.cpname like '%'||#{keyword}||'%'
  				</when>
  				<when test="range == 'm'.toString()">
  					to_char(m.mno) like '%'||#{keyword}||'%'
  				</when>
  				<when test="range == 'e'.toString()">
  					m.email like '%'||#{keyword}||'%'
  				</when>
  				<when test="range == 'd'.toString()">
  					to_char(enddate,'YYYY-MM-DD') like '%'||#{keyword}||'%'
  				</when>
  			</choose>
  		</trim>
  	</if>
  </sql>
  	<!-- insert -->
  	<insert id="reg" parameterType="cpvo">
  		insert into tbl_coupon(cpno, cpname, discount)
  		values (seq_coupon_cpno.nextval, #{cpname}, #{discount})
  	</insert>
	<insert id="issue" parameterType="cplvo">
		insert into tbl_couponlist(cplno, mno, cpno, enddate)
		values (seq_couponlist_cplno.nextval, #{mno}, #{cpno}, to_date(#{enddate},'YYYY-MM-DD'))
	</insert>
  	
  	<!-- select -->
  	<select id="list" parameterType="cpgvo" resultType="cpvo">
 	<![CDATA[
 		select cpno, cpname, discount
 		from (select /*+INDEX_DESC(tbl_coupon pk_coupon)*/
 				rownum as rn, cpno, cpname, discount
 				from tbl_coupon where cpno > 0
 	]]>
 		<include refid="search"/>
 	<![CDATA[
 				and rownum <= #{pageIndex} * #{countPerPage})
 		where rn > (#{pageIndex}-1) * #{countPerPage}
 	]]>
 	</select>
  	<select id="tc" parameterType="cpgvo" resultType="int">
 	<![CDATA[
 		select count(cpno) as cnt from tbl_coupon
 		where cpno > 0 
 	]]> 
 		<include refid="search"></include>
 	</select>
  	<select id="itc" parameterType="cpgvo" resultType="int">
 	<![CDATA[
 		SELECT count(cplno)
		FROM TBL_COUPONLIST cpl INNER JOIN TBL_COUPON cp
		ON cpl.CPNO = cp.CPNO
		JOIN TBL_MEMBER m 
		ON cpl.MNO = m.MNO
 		where cplno > 0 
 	]]> 
 		<include refid="issueSearch"></include>
 	</select>
  	<select id="detail" parameterType="int" resultType="cpvo">
  		select * from tbl_coupon where cpno=#{cpno}
  	</select>
  	<select id="issueList" parameterType="cpgvo" resultType="cplvo">
    <![CDATA[
  		SELECT cplno, cpno, cpname, mno, email, enddate 
 	    from(SELECT /*+INDEX_DESC(tbl_couponlist pk_couponlist)*/
 	    rownum AS rn, cpl.cplno AS cplno, cpl.cpno AS cpno, cp.cpname AS cpname, cpl.mno AS mno, m.email AS email, enddate 
		FROM TBL_COUPONLIST cpl INNER JOIN TBL_COUPON cp
		ON cpl.CPNO = cp.CPNO
		JOIN TBL_MEMBER m 
		ON cpl.MNO = m.MNO where cplno > 0
	]]>
 		<include refid="issueSearch"/>
 	<![CDATA[
		and rownum <= #{pageIndex} * #{countPerPage})
 		where rn > (#{pageIndex}-1) * #{countPerPage}
	]]>
  	</select>
  	<select id="issueCpList" resultType="cpvo">
  		select * from tbl_coupon
  	</select>
  	<select id="myCp" resultType="int">
  		SELECT count(cplno)
		FROM TBL_COUPONLIST cpl INNER JOIN TBL_COUPON cp
		ON cpl.CPNO = cp.CPNO
		JOIN TBL_MEMBER m 
		ON cpl.MNO = M.MNO
		AND cpl.MNO = #{mno}
  	</select>
  	
  	<!-- update -->
  	<update id="mod" parameterType="cpvo">
  		update tbl_coupon set cpname=#{cpname}, discount=#{discount}
 		where cpno=#{cpno}
  	</update>
  	
  	<!-- delete -->
  	<delete id="del" parameterType="int">
  		delete from tbl_coupon where cpno=#{cpno}
  	</delete>
  	<delete id="cancel" parameterType="int">
  		delete from tbl_couponlist where cplno=#{cplno}
  	</delete>
  	
  </mapper>