<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="ProductStockMapper">
  	<insert id="reg" parameterType="psvo">
  		insert into tbl_product_stock values
  		(#{sno}, #{pno})
  	</insert>
 	
 	<delete id="del" parameterType="int">
 		delete from tbl_product_stock where pno = #{pno}
 	</delete>
  </mapper>