<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="ProductMapper">
  	<sql id="search">
  		<if test="range != null">
  			<trim prefix="and (" suffix=")">
  				<choose>
  					<when test="range == 'propri'.toString()">
  						title like '%'||#{keyword}||'%' or
  						price like '%'||#{keyword}||'%' 
  					</when>
  					<when test="range == 'pro'.toString()">
  						title like '%'||#{keyword}||'%'
  					</when>
  					<when test="range == 'pri'.toString()">
  						price like '%'||#{keyword}||'%'
  					</when>
  					<when test="range == 'category'.toString()">
  						category like '%'||#{keyword}||'%'
  					</when>
  				</choose>
  			</trim>
  		</if>
  	</sql>
  
  	<insert id="reg" parameterType="pvo">
  		insert into tbl_product (pno, title, category, content, calorie, price) values
  		(seq_product_pno.nextval, #{title}, #{category}, #{content}, #{calorie}, #{price})
  	</insert>
  	
  	<!-- 관리자 리스트 페이징 서치 -->
  	<select id="list" parameterType="ppgvo" resultType="pvo">
  		<![CDATA[
  		select *
  		from (select /*+INDEX_DESC(tbl_product pk_product)*/
  			rownum AS rn , pno, title, price, sales, cansale, regdate, moddate
			from tbl_product where pno > 0
  		]]>
  		<include refid="search"/>
  		<![CDATA[
  			and rownum <= #{pageIndex}* #{countPerPage})
  		where rn > (#{pageIndex}-1) * #{countPerPage}
  		]]>
  	</select>
  	 
  	<!-- 관리자 리스트 서치토탈 -->
  	<select id="totalcount" parameterType="ppgvo" resultType="int">
  		<![CDATA[
  		select count(pno) as cnt from tbl_product where pno > 0
  		]]>
  		<include refid="search"/>
  	</select>
  	
 	<!-- 소비자 리스트 페이징 서치 -->
 	<select id="listcustomer" parameterType="pcpgvo" resultType="pvo">
  		<![CDATA[
  		select *
  		from (select /*+INDEX_DESC(tbl_product pk_product)*/
  			rownum AS rn , pno, title, price, sales, cansale, regdate, moddate
			from tbl_product where pno > 0
  		]]>
  		<include refid="search"/>
  		<![CDATA[
  			and rownum <= #{pageIndex}* #{countPerPage})
  		where rn > (#{pageIndex}-1) * #{countPerPage}
  		]]>
  	</select>
  	
	 <!-- 소비자 리스트 서치토탈 -->
  	<select id="totalcountcustomer" parameterType="pcpgvo" resultType="int">
  		<![CDATA[
  		select count(pno) as cnt from tbl_product where pno > 0
  		]]>
  		<include refid="search"/>
  	</select>
  	
  	<select id="detail" parameterType="int" resultType="pvo">
  		select * from tbl_product where pno = #{pno}
  	</select>
  	
  	<update id="mod" parameterType="pvo">
  		update tbl_product set 
  		title = #{title}, price = #{price}, content = #{content}, category = #{category}, 
  		calorie = #{calorie}, moddate = sysdate, cansale = #{cansale}
  		where pno = #{pno}
  	</update>
  	
  	<delete id="del" parameterType="int">
  		delete from tbl_product where pno = #{pno}
  	</delete>
  	
  	<select id="curpno" resultType="int">
  		select seq_product_pno.currval from dual
  	</select>
  	
  	
  	<update id="salesup" parameterType="hashmap">
  		update tbl_product set sales = sales + #{num} where pno = #{pno}
  	</update>
  	
  </mapper>